

<ul class="my-collection">
    {% if plants.size > 0 %}
        {% if current_path == "/" %}
            {% assign loop_limit = 4 %}
        {% else %}
            {% assign loop_limit = plants.size %}
        {% endif %}
        {% for plant in plants limit: loop_limit %}
        <li class="{{ plant.main_zone.type }}">
            <a href="/collectie/{{ plant.slug }}">
                <article>
                    {% render 'partials/general-heading.liquid',
                        heading_level: 2,
                        content: plant.name,
                        my_class: "italic"
                    %}
                    {% render 'partials/general-heading.liquid',
                        heading_level: 3,
                        content: plant.latin | truncate: 20,
                        my_class: "italic"
                    %}
                </article>
                {% render 'partials/picture.liquid',
                    imagesrc: plant.in_bloom,
                    width: "180",
                    height: "180",
                    alt: plant.name,
                    class: "square",
                    fetch: "high",
                    loading: "eager",
                %}      
            </a>    
        </li>
        {% endfor %}

    {% else %}
        <li class="empty">
            <p> Jouw collectie is nog leeg,<a class="underlined" href="/veldverkenner"> ga naar onze Veldverkenner</a>  om meer te weten te komen over wat er groeit en je collectie aan te vullen</p>
        </li>
    {% endif %}
</ul>