<ul class="news {% if current_path == '/' %}horizontal{% endif %}">
    {% for newsitem in news %}
    <li>
        <a href="/nieuws/{{ newsitem.slug }}">
            <div>
                <p class="badge">Bloemen</p>
                {% render 'partials/general-heading.liquid',
                    heading_level: 2,
                    content: newsitem.title | truncate: 20
                %}
            </div>
            {% render 'partials/picture.liquid',
                imagesrc: newsitem.image,
                width: "275",
                height: "140",
                alt: newsitem.title,
                class: "landscape",

            %}
            {% if current_path == '/' %}
                <p>{{ newsitem.body | truncate: 40 }}</p>
        {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>