{% render 'partials/head.liquid', user: user %}

{% include 'partials/calcs.liquid', 
    birthdate: user.birthdate 
%}

<header class="home">
    
    <a class="veldbeheer" href="/veldbeheer">
        <svg width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1052_14036)">
            <path d="M437.048 16.7486C427.486 6.54227 413.983 0.690674 400 0.690674C386.017 0.690674 372.512 6.54383 362.951 16.7486C353.389 26.9533 348.426 40.8097 349.337 54.766L351.89 93.9006C352.901 109.374 361.07 123.529 373.743 131.763C381.718 136.946 390.861 139.535 400.001 139.535C409.142 139.535 418.286 136.945 426.258 131.765C438.93 123.53 447.1 109.377 448.109 93.9022L450.663 54.766C451.574 40.8112 446.611 26.9549 437.048 16.7486ZM418.861 52.6925L416.308 91.8256C415.95 97.3178 413.18 102.255 408.897 105.038C403.49 108.549 396.511 108.546 391.108 105.038C386.825 102.255 384.056 97.3147 383.695 91.8256L381.142 52.6925C380.8 47.4222 382.598 42.3956 386.211 38.5409C389.822 34.6878 394.719 32.5643 400 32.5643C405.281 32.5643 410.176 34.6878 413.789 38.5409C417.405 42.3956 419.203 47.4222 418.861 52.6925Z" fill="black"/>
            <path d="M526.047 233.129L521.62 208.687C515.798 176.556 490.342 150.912 458.274 144.873C453.432 143.962 448.484 143.499 443.56 143.499H430.226C425.999 143.499 421.946 145.179 418.957 148.166C413.895 153.229 407.163 156.018 400.001 156.018C392.838 156.018 386.107 153.229 381.044 148.166C378.055 145.179 374.002 143.499 369.775 143.499H356.441C351.519 143.499 346.569 143.962 341.727 144.873C309.659 150.909 284.203 176.554 278.381 208.687L273.955 233.129C273.112 237.776 274.376 242.559 277.403 246.184C280.433 249.809 284.912 251.906 289.636 251.906H510.367C515.09 251.906 519.57 249.811 522.597 246.184C525.623 242.559 526.887 237.778 526.047 233.129ZM308.72 220.033L309.745 214.367C313.228 195.145 328.453 179.804 347.628 176.193C350.528 175.646 353.494 175.37 356.444 175.37H363.76C374.055 183.485 386.69 187.89 400.002 187.89C413.313 187.89 425.949 183.487 436.245 175.37H443.56C446.509 175.37 449.476 175.646 452.376 176.193C471.553 179.804 486.775 195.145 490.259 214.367L491.286 220.033H308.72Z" fill="black"/>
            <path d="M437.048 564.15C427.486 553.944 413.983 548.092 400 548.092C386.017 548.092 372.512 553.945 362.951 564.15C353.389 574.356 348.426 588.213 349.337 602.168L351.89 641.304C352.901 656.779 361.071 670.932 373.742 679.165C381.72 684.348 390.859 686.937 400.001 686.937C409.141 686.937 418.286 684.346 426.258 679.165C438.928 670.932 447.1 656.777 448.109 641.302L450.663 602.166C451.574 588.213 446.611 574.356 437.048 564.15ZM418.861 600.091L416.308 639.226C415.95 644.716 413.18 649.654 408.895 652.437C403.49 655.948 396.511 655.948 391.108 652.437C386.825 649.654 384.056 644.715 383.695 639.226L381.142 600.093C380.8 594.821 382.598 589.794 386.211 585.941C389.82 582.088 394.719 579.964 400 579.964C405.281 579.964 410.178 582.088 413.789 585.941C417.405 589.794 419.203 594.821 418.861 600.091Z" fill="black"/>
            <path d="M526.045 780.531L521.619 756.089C515.797 723.957 490.34 698.313 458.273 692.274C453.435 691.363 448.485 690.901 443.559 690.901H430.224C425.998 690.901 421.945 692.581 418.955 695.568C408.502 706.023 391.497 706.021 381.044 695.568C378.055 692.581 374.002 690.901 369.775 690.901H356.441C351.522 690.901 346.572 691.363 341.727 692.274C309.659 698.313 284.203 723.957 278.381 756.09L273.955 780.533C273.112 785.18 274.376 789.962 277.403 793.587C280.433 797.212 284.912 799.308 289.636 799.308H510.367C515.09 799.308 519.57 797.212 522.595 793.584C525.622 789.961 526.886 785.18 526.045 780.531ZM308.72 767.436L309.744 761.772C313.228 742.55 328.452 727.209 347.622 723.598C350.525 723.051 353.493 722.774 356.441 722.774H363.766C384.954 739.431 415.052 739.431 436.237 722.774H443.562C446.512 722.774 449.479 723.051 452.378 723.596C471.554 727.207 486.776 742.548 490.261 761.77L491.287 767.436H308.72Z" fill="black"/>
            <path d="M163.351 290.453C153.788 280.247 140.285 274.394 126.301 274.394C112.316 274.394 98.8099 280.247 89.2489 290.453C79.6879 300.658 74.7269 314.514 75.6378 328.468L78.191 367.602C79.2004 383.076 87.3692 397.23 100.043 405.465C108.019 410.646 117.162 413.237 126.302 413.237C135.443 413.237 144.587 410.646 152.559 405.466C165.232 397.232 173.401 383.077 174.409 367.605L176.962 328.469C177.871 314.516 172.91 300.656 163.351 290.453ZM145.16 326.393L142.607 365.529C142.251 371.019 139.48 375.955 135.196 378.738C129.791 382.249 122.812 382.249 117.408 378.738C113.124 375.954 110.355 371.016 109.996 365.529L107.443 326.393C107.099 321.122 108.899 316.096 112.51 312.242C116.121 308.388 121.019 306.264 126.301 306.264C131.582 306.264 136.479 308.389 140.09 312.242C143.701 316.096 145.504 321.122 145.16 326.393Z" fill="black"/>
            <path d="M252.344 506.829L247.917 482.387C242.095 450.256 216.639 424.612 184.572 418.573C179.733 417.662 174.783 417.199 169.856 417.199H156.522C152.297 417.199 148.245 418.879 145.254 421.866C134.801 432.32 117.796 432.321 107.343 421.866C104.354 418.879 100.301 417.199 96.0743 417.199H82.7383C77.8195 417.199 72.8679 417.662 68.0257 418.573C35.9583 424.612 10.5019 450.256 4.68002 482.387L0.253427 506.829C-0.588765 511.476 0.675305 516.259 3.70188 519.884C6.73159 523.509 11.2113 525.605 15.9348 525.605H236.666C241.389 525.605 245.869 523.509 248.894 519.884C251.922 516.259 253.186 511.479 252.344 506.829ZM35.0208 493.734L36.0458 488.068C39.5302 468.848 54.7537 453.506 73.9289 449.895C76.8289 449.348 79.7945 449.071 82.743 449.071H90.0618C100.357 457.187 112.993 461.59 126.304 461.59C139.615 461.59 152.251 457.187 162.547 449.071H169.862C172.811 449.071 175.776 449.348 178.676 449.895C197.853 453.506 213.075 468.848 216.559 488.068L217.586 493.734H35.0208Z" fill="black"/>
            <path d="M710.75 290.45C701.188 280.244 687.684 274.392 673.701 274.392C659.717 274.392 646.212 280.245 636.651 290.452C627.09 300.657 622.129 314.514 623.04 328.468L625.593 367.602C626.603 383.076 634.77 397.231 647.443 405.465C655.422 410.648 664.561 413.237 673.703 413.237C682.842 413.237 691.987 410.646 699.959 405.465C712.633 397.231 720.803 383.076 721.811 367.602L724.364 328.466C725.275 314.511 720.313 300.655 710.75 290.45ZM692.562 326.391L690.009 365.527C689.653 371.016 686.881 375.954 682.597 378.737C677.197 382.246 670.215 382.248 664.809 378.737C660.526 375.954 657.758 371.016 657.398 365.527L654.845 326.391C654.501 321.121 656.303 316.094 659.912 312.241C663.522 308.388 668.42 306.264 673.701 306.264C678.984 306.264 683.881 308.388 687.491 312.241C691.106 316.094 692.905 321.121 692.562 326.391Z" fill="black"/>
            <path d="M799.744 506.829L795.318 482.387C789.496 450.256 764.039 424.612 731.972 418.573C727.13 417.662 722.181 417.199 717.258 417.199H703.922C699.697 417.199 695.645 418.879 692.655 421.866C682.201 432.32 665.197 432.321 654.743 421.866C651.754 418.879 647.701 417.199 643.475 417.199H630.14C625.217 417.199 620.267 417.662 615.428 418.573C583.359 424.612 557.902 450.256 552.08 482.387L547.654 506.829C546.812 511.476 548.076 516.259 551.102 519.884C554.132 523.509 558.612 525.605 563.335 525.605H784.066C788.79 525.605 793.269 523.509 796.294 519.884C799.322 516.259 800.585 511.479 799.744 506.829ZM582.42 493.734L583.446 488.068C586.929 468.848 602.153 453.506 621.331 449.895C624.229 449.348 627.193 449.071 630.143 449.071H637.459C647.754 457.187 660.39 461.59 673.701 461.59C687.012 461.59 699.648 457.187 709.944 449.071H717.261C720.208 449.071 723.175 449.348 726.075 449.895C745.252 453.506 760.474 468.848 763.958 488.068L764.985 493.734H582.42Z" fill="black"/>
            <path d="M317.228 103.482C314.407 95.1459 305.363 90.674 297.023 93.4928C233.902 114.848 177.678 156.584 138.709 211.009C133.587 218.165 135.234 228.122 142.391 233.245C145.202 235.258 148.444 236.225 151.655 236.225C156.62 236.225 161.516 233.909 164.625 229.564C199.741 180.52 250.388 142.918 307.238 123.684C315.578 120.863 320.049 111.818 317.228 103.482Z" fill="black"/>
            <path d="M661.777 211.009C634.344 172.693 598.144 140.298 557.085 117.326C549.408 113.03 539.694 115.771 535.397 123.452C531.099 131.134 533.844 140.843 541.524 145.141C578.518 165.842 611.14 195.035 635.863 229.564C638.974 233.911 643.868 236.225 648.835 236.225C652.045 236.225 655.287 235.258 658.096 233.244C665.256 228.12 666.901 218.164 661.777 211.009Z" fill="black"/>
            <path d="M511.687 96.3989C508.977 95.4005 506.212 94.4208 503.465 93.4927C495.126 90.6677 486.083 95.1442 483.26 103.48C480.441 111.816 484.913 120.862 493.249 123.683C495.721 124.519 498.212 125.401 500.651 126.302C502.473 126.974 504.335 127.293 506.168 127.293C512.651 127.293 518.745 123.307 521.118 116.869C524.166 108.612 519.945 99.4474 511.687 96.3989Z" fill="black"/>
            <path d="M307.24 659.699C250.389 640.468 199.742 602.864 164.626 553.819C159.501 546.664 149.546 545.016 142.392 550.139C135.234 555.264 133.587 565.219 138.71 572.375C177.679 626.802 233.905 668.537 297.024 689.891C298.718 690.463 300.44 690.737 302.133 690.737C308.779 690.737 314.98 686.546 317.229 679.902C320.049 671.566 315.577 662.521 307.24 659.699Z" fill="black"/>
            <path d="M658.098 550.142C650.941 545.019 640.985 546.669 635.863 553.822C600.747 602.868 550.1 640.469 493.25 659.701C484.912 662.521 480.44 671.566 483.261 679.904C485.508 686.548 491.711 690.737 498.356 690.737C500.048 690.737 501.772 690.465 503.464 689.893C567.499 668.229 622.243 627.593 661.779 572.377C666.901 565.221 665.256 555.266 658.098 550.142Z" fill="black"/>
            </g>
            <defs>
            <clipPath id="clip0_1052_14036">
            <rect width="800" height="800" fill="white"/>
            </clipPath>
            </defs>
        </svg>
        Veldbeheer
    </a>

    <a class="myacc" href="/account">
        {% render 'partials/picture.liquid',
            imagesrc: userMemoji,
            width: "180",
            height: "180",
            fetch: "high",
            loading: "eager",
        %}
        Mijn account
    </a>
    
</header>

<main class="home">
    {% assign hoi_message = "Welkom, " | append: user.name %}
    
    {% render 'partials/general-heading.liquid',
        heading_level: 2,
        content: hoi_message,
    %}  
    {% comment %} {% if age < 28 %}
        <p>hoi ik ben jong</p>
        <p>want ik ben {{ age }}</p>
    {% else %}
        <p>hoi ik ben oud</p>
        <p>want ik ben {{ age }}</p>
    {% endif %} {% endcomment %}
    {% comment %} section with all of the users collected plants {% endcomment %}
    <section>
        <div class="textwrapper">
            <svg class="decorative" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.7345 14.3645C51.5824 12.6474 47.9045 12.2781 44.4911 13.3398C44.3247 9.74251 42.8304 6.3514 40.3141 3.86808C37.8008 1.38475 34.4586 0 30.9827 0C27.5098 0 24.1676 1.38475 21.6514 3.86808C19.138 6.3514 17.6407 9.74251 17.4744 13.3398C14.0728 12.2781 10.4068 12.6105 7.23098 14.2691C4.89591 15.54 2.96785 17.494 1.69039 19.8851C0.41294 22.2791 -0.160428 25.0056 0.0386168 27.732C0.240633 30.4584 1.20615 33.0648 2.8193 35.2281C4.43543 37.3945 6.62493 39.0223 9.12042 39.9117C7.52806 42.2596 6.66355 45.0568 6.64276 47.9248C6.6586 48.731 6.73089 49.5331 6.85963 50.3312C7.38249 53.5838 9.00456 56.541 11.4347 58.6735C13.8678 60.806 16.9515 61.9723 20.1362 61.9662C20.7958 62.0113 21.4563 62.0113 22.1178 61.9662C25.6531 61.3876 28.8318 59.3967 30.9679 56.421C33.1247 59.3505 36.3005 61.2922 39.8179 61.8369C40.4794 61.8841 41.14 61.8841 41.7995 61.8369C44.2682 61.8338 46.6895 61.1291 48.8017 59.7998C50.911 58.4673 52.6252 56.5625 53.763 54.2915C54.9008 52.0206 55.4118 49.4695 55.2454 46.9154C55.0791 44.3644 54.2383 41.9088 52.8153 39.8163C55.3227 38.9393 57.527 37.3206 59.155 35.1573C60.7801 32.994 61.7575 30.3846 61.9595 27.652C62.1645 24.9194 61.5881 22.1837 60.3047 19.7866C59.0184 17.3894 57.0814 15.4385 54.7345 14.1737V14.3645ZM25.8313 8.14543C27.2127 6.77298 29.0546 6.00983 30.9679 6.00983C32.8811 6.00983 34.723 6.77298 36.1044 8.14543C37.1591 9.24092 37.878 10.638 38.1632 12.1551C38.4514 13.6752 38.2939 15.2477 37.7146 16.6724L36.9095 18.5649L34.8656 20.4236C33.6119 19.9774 32.2958 19.7373 30.9679 19.7189C29.2507 19.7189 27.5544 20.0912 25.9858 20.8082L24.2538 16.6724C23.6507 15.2538 23.4814 13.6783 23.7636 12.1551C24.0458 10.6318 24.7648 9.23477 25.8313 8.14543ZM6.95469 30.0707C6.26249 28.4951 6.11098 26.7257 6.52392 25.0486C6.93687 23.3746 7.8905 21.8945 9.2244 20.8544C10.5613 19.8143 12.1982 19.2788 13.8678 19.3342C15.5344 19.3896 17.1357 20.0358 18.4042 21.159L19.9194 22.5376L21.0037 25.104C19.4529 27.2519 18.6063 29.8584 18.5884 32.5386C18.5528 33.0187 18.5528 33.4997 18.5884 33.9818H16.8862L14.2867 34.2372C12.8013 34.4003 11.301 34.0895 9.99087 33.3449C8.68074 32.6002 7.62016 31.4585 6.95469 30.0707ZM27.3791 49.5618C27.0048 51.2728 26.0749 52.796 24.744 53.8823C23.4131 54.9655 21.7613 55.5409 20.0679 55.5101C18.3745 55.4794 16.7436 54.8454 15.4483 53.7161C14.153 52.5868 13.2736 51.0266 12.9558 49.3034C12.93 48.8541 12.93 48.4058 12.9558 47.9586C12.9676 46.6539 13.3093 45.3768 13.945 44.2536C14.5778 43.1274 15.4869 42.195 16.5772 41.5457L18.1547 40.3917L20.971 40.0717C22.7476 42.6288 25.3679 44.4198 28.3387 45.106L27.3791 49.5618ZM30.9679 38.9516C29.7439 38.9516 28.5466 38.5731 27.5306 37.8684C26.5116 37.1668 25.7184 36.1636 25.249 34.9942C24.7826 33.8218 24.6578 32.5325 24.8985 31.2893C25.1361 30.0461 25.7273 28.9013 26.5918 28.0059C27.4563 27.1104 28.5585 26.498 29.7617 26.2518C30.9619 26.0057 32.2067 26.1318 33.3356 26.618C34.4675 27.1012 35.433 27.9228 36.1133 28.9783C36.7936 30.0307 37.1561 31.2708 37.1561 32.5386C37.1561 34.2403 36.5055 35.8713 35.3439 37.0714C34.1823 38.2746 32.6107 38.9516 30.9679 38.9516ZM48.977 49.2726C48.6591 51.2266 47.6104 52.9745 46.0596 54.1377C44.5089 55.3009 42.5778 55.7871 40.6854 55.4917C39.1941 55.2732 37.8008 54.587 36.6956 53.5284C35.5875 52.4698 34.821 51.0851 34.4942 49.5618L34.0635 47.6386L34.7111 44.6875C37.5661 43.7243 39.9873 41.7211 41.5202 39.047L43.068 40.007H43.3473L45.3882 41.2595C46.7162 42.0442 47.7738 43.2351 48.4185 44.6721C49.0602 46.1092 49.2563 47.7155 48.977 49.2726ZM54.981 30.0399C54.372 31.3139 53.4332 32.3878 52.2716 33.1387C51.1071 33.8926 49.7643 34.2957 48.3917 34.3019H47.649L45.6675 33.9818L43.3473 32.6679C43.3413 29.5506 42.2421 26.5442 40.2517 24.2055L41.5826 23.0207L43.5315 21.159C44.803 19.9897 46.428 19.3127 48.1273 19.245C49.8296 19.1804 51.4963 19.7281 52.8509 20.7959C54.2027 21.8637 55.1563 23.3869 55.5455 25.101C55.9347 26.818 55.7356 28.6182 54.981 30.1999V30.0399Z" fill="black"/>
            </svg>
            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: "Mijn Collectie",
            %}  
        </div>
        <p>Hier vind je jouw meest recent verzamelde planten. Liever jouw hele collectie zien? 
            Dat kan      
            {% render 'partials/link.liquid',
                href: "/collection/in_bloom",
                content: "hier",
            %}
        </p>

        {% render 'partials/mycollection.liquid', 
            plants: plants, 
            zone_type: zone_type, 
            current_path: current_path 
        %}
    </section>
    <section>
        <div class="textwrapper">
            <svg class="decorative" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.7345 14.3645C51.5824 12.6474 47.9045 12.2781 44.4911 13.3398C44.3247 9.74251 42.8304 6.3514 40.3141 3.86808C37.8008 1.38475 34.4586 0 30.9827 0C27.5098 0 24.1676 1.38475 21.6514 3.86808C19.138 6.3514 17.6407 9.74251 17.4744 13.3398C14.0728 12.2781 10.4068 12.6105 7.23098 14.2691C4.89591 15.54 2.96785 17.494 1.69039 19.8851C0.41294 22.2791 -0.160428 25.0056 0.0386168 27.732C0.240633 30.4584 1.20615 33.0648 2.8193 35.2281C4.43543 37.3945 6.62493 39.0223 9.12042 39.9117C7.52806 42.2596 6.66355 45.0568 6.64276 47.9248C6.6586 48.731 6.73089 49.5331 6.85963 50.3312C7.38249 53.5838 9.00456 56.541 11.4347 58.6735C13.8678 60.806 16.9515 61.9723 20.1362 61.9662C20.7958 62.0113 21.4563 62.0113 22.1178 61.9662C25.6531 61.3876 28.8318 59.3967 30.9679 56.421C33.1247 59.3505 36.3005 61.2922 39.8179 61.8369C40.4794 61.8841 41.14 61.8841 41.7995 61.8369C44.2682 61.8338 46.6895 61.1291 48.8017 59.7998C50.911 58.4673 52.6252 56.5625 53.763 54.2915C54.9008 52.0206 55.4118 49.4695 55.2454 46.9154C55.0791 44.3644 54.2383 41.9088 52.8153 39.8163C55.3227 38.9393 57.527 37.3206 59.155 35.1573C60.7801 32.994 61.7575 30.3846 61.9595 27.652C62.1645 24.9194 61.5881 22.1837 60.3047 19.7866C59.0184 17.3894 57.0814 15.4385 54.7345 14.1737V14.3645ZM25.8313 8.14543C27.2127 6.77298 29.0546 6.00983 30.9679 6.00983C32.8811 6.00983 34.723 6.77298 36.1044 8.14543C37.1591 9.24092 37.878 10.638 38.1632 12.1551C38.4514 13.6752 38.2939 15.2477 37.7146 16.6724L36.9095 18.5649L34.8656 20.4236C33.6119 19.9774 32.2958 19.7373 30.9679 19.7189C29.2507 19.7189 27.5544 20.0912 25.9858 20.8082L24.2538 16.6724C23.6507 15.2538 23.4814 13.6783 23.7636 12.1551C24.0458 10.6318 24.7648 9.23477 25.8313 8.14543ZM6.95469 30.0707C6.26249 28.4951 6.11098 26.7257 6.52392 25.0486C6.93687 23.3746 7.8905 21.8945 9.2244 20.8544C10.5613 19.8143 12.1982 19.2788 13.8678 19.3342C15.5344 19.3896 17.1357 20.0358 18.4042 21.159L19.9194 22.5376L21.0037 25.104C19.4529 27.2519 18.6063 29.8584 18.5884 32.5386C18.5528 33.0187 18.5528 33.4997 18.5884 33.9818H16.8862L14.2867 34.2372C12.8013 34.4003 11.301 34.0895 9.99087 33.3449C8.68074 32.6002 7.62016 31.4585 6.95469 30.0707ZM27.3791 49.5618C27.0048 51.2728 26.0749 52.796 24.744 53.8823C23.4131 54.9655 21.7613 55.5409 20.0679 55.5101C18.3745 55.4794 16.7436 54.8454 15.4483 53.7161C14.153 52.5868 13.2736 51.0266 12.9558 49.3034C12.93 48.8541 12.93 48.4058 12.9558 47.9586C12.9676 46.6539 13.3093 45.3768 13.945 44.2536C14.5778 43.1274 15.4869 42.195 16.5772 41.5457L18.1547 40.3917L20.971 40.0717C22.7476 42.6288 25.3679 44.4198 28.3387 45.106L27.3791 49.5618ZM30.9679 38.9516C29.7439 38.9516 28.5466 38.5731 27.5306 37.8684C26.5116 37.1668 25.7184 36.1636 25.249 34.9942C24.7826 33.8218 24.6578 32.5325 24.8985 31.2893C25.1361 30.0461 25.7273 28.9013 26.5918 28.0059C27.4563 27.1104 28.5585 26.498 29.7617 26.2518C30.9619 26.0057 32.2067 26.1318 33.3356 26.618C34.4675 27.1012 35.433 27.9228 36.1133 28.9783C36.7936 30.0307 37.1561 31.2708 37.1561 32.5386C37.1561 34.2403 36.5055 35.8713 35.3439 37.0714C34.1823 38.2746 32.6107 38.9516 30.9679 38.9516ZM48.977 49.2726C48.6591 51.2266 47.6104 52.9745 46.0596 54.1377C44.5089 55.3009 42.5778 55.7871 40.6854 55.4917C39.1941 55.2732 37.8008 54.587 36.6956 53.5284C35.5875 52.4698 34.821 51.0851 34.4942 49.5618L34.0635 47.6386L34.7111 44.6875C37.5661 43.7243 39.9873 41.7211 41.5202 39.047L43.068 40.007H43.3473L45.3882 41.2595C46.7162 42.0442 47.7738 43.2351 48.4185 44.6721C49.0602 46.1092 49.2563 47.7155 48.977 49.2726ZM54.981 30.0399C54.372 31.3139 53.4332 32.3878 52.2716 33.1387C51.1071 33.8926 49.7643 34.2957 48.3917 34.3019H47.649L45.6675 33.9818L43.3473 32.6679C43.3413 29.5506 42.2421 26.5442 40.2517 24.2055L41.5826 23.0207L43.5315 21.159C44.803 19.9897 46.428 19.3127 48.1273 19.245C49.8296 19.1804 51.4963 19.7281 52.8509 20.7959C54.2027 21.8637 55.1563 23.3869 55.5455 25.101C55.9347 26.818 55.7356 28.6182 54.981 30.1999V30.0399Z" fill="black"/>
            </svg>
            {% render 'partials/general-heading.liquid',
                heading_level: 2,
                content: "Onze veldverkenner",
            %}  
        </div>
        <p>Ben jij ready voor een uitdaging? Op onze veldverkenner doe jij leuke opdrachten en leer je wat bij over het groen in ons park.</p>
        {% render 'partials/picture.liquid',
            imagesrc: "/assets/images/map-image",
            width: "275",
            height: "140",
            alt: "Een kaart van de veldverkenner",
            class: "landscape",
            fetch: "auto",
            loading: "lazy",
        %}
        {% render 'partials/link.liquid',
            href: "/veldverkenner",
            standard_class: "styled secondary margin",
            content: "Naar onze veldverkenner",
        %}
    </section>
    {% comment %} section with news overview {% endcomment %}
    <section>
        <article>
            <div class="textwrapper">
                <svg class="decorative" width="66" height="63" viewBox="0 0 66 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.5008 27.9989H46.1997C45.3253 27.9989 44.4858 28.3685 43.868 29.0237C43.2471 29.6789 42.9017 30.5693 42.9017 31.5C42.9017 32.4274 43.2471 33.3178 43.868 33.973C44.4858 34.6315 45.3253 34.9978 46.1997 34.9978H49.5008C50.3752 34.9978 51.2147 34.6315 51.8356 33.973C52.4534 33.3178 52.8019 32.4274 52.8019 31.5C52.8019 30.5693 52.4534 29.6789 51.8356 29.0237C51.2147 28.3685 50.3752 27.9989 49.5008 27.9989ZM49.5008 42H46.1997C45.3253 42 44.4858 42.3662 43.868 43.0248C43.2471 43.68 42.9017 44.5704 42.9017 45.4978C42.9017 46.4285 43.2471 47.3189 43.868 47.9741C44.4858 48.6293 45.3253 48.9989 46.1997 48.9989H49.5008C50.3752 48.9989 51.2147 48.6293 51.8356 47.9741C52.4534 47.3189 52.8019 46.4285 52.8019 45.4978C52.8019 44.5704 52.4534 43.68 51.8356 43.0248C51.2147 42.3662 50.3752 42 49.5008 42ZM29.7005 21H49.5008C50.3752 21 51.2147 20.6304 51.8356 19.9752C52.4534 19.3166 52.8019 18.4262 52.8019 17.4989C52.8019 16.5715 52.4534 15.6811 51.8356 15.0226C51.2147 14.3674 50.3752 13.9978 49.5008 13.9978H29.7005C28.8261 13.9978 27.9866 14.3674 27.3656 15.0226C26.7479 15.6811 26.3994 16.5715 26.3994 17.4989C26.3994 18.4262 26.7479 19.3166 27.3656 19.9752C27.9866 20.6304 28.8261 21 29.7005 21ZM62.7021 3.8147e-06H16.4992C15.6248 3.8147e-06 14.7853 0.366241 14.1675 1.0248C13.5466 1.68 13.2013 2.5704 13.2013 3.49776V13.9978H3.30111C2.42356 13.9978 1.58403 14.3674 0.966256 15.0226C0.348487 15.6811 0 16.5715 0 17.4989V52.5C0 55.2821 1.04229 57.9533 2.89877 59.9222C4.75524 61.8912 7.27384 63 9.90016 63H52.8019C56.3026 63 59.6607 61.525 62.135 58.8974C64.6092 56.2733 66 52.7117 66 48.9989V3.49776C66 2.5704 65.6547 1.68 65.0337 1.0248C64.416 0.366241 63.5764 3.8147e-06 62.7021 3.8147e-06ZM13.2013 52.5C13.2013 53.4274 12.8528 54.3178 12.235 54.973C11.6141 55.6315 10.7745 55.9978 9.90016 55.9978C9.02578 55.9978 8.18624 55.6315 7.5653 54.973C6.94753 54.3178 6.59905 53.4274 6.59905 52.5V21H13.2013V52.5ZM59.401 48.9989C59.401 50.857 58.7071 52.6344 57.4684 53.9482C56.2297 55.2619 54.5507 55.9978 52.8019 55.9978H19.2079C19.5912 54.8755 19.7908 53.6928 19.8003 52.5V6.99888H59.401V48.9989ZM29.7005 34.9978H33.0016C33.876 34.9978 34.7155 34.6315 35.3333 33.973C35.9542 33.3178 36.2995 32.4274 36.2995 31.5C36.2995 30.5693 35.9542 29.6789 35.3333 29.0237C34.7155 28.3685 33.876 27.9989 33.0016 27.9989H29.7005C28.8261 27.9989 27.9866 28.3685 27.3656 29.0237C26.7479 29.6789 26.3994 30.5693 26.3994 31.5C26.3994 32.4274 26.7479 33.3178 27.3656 33.973C27.9866 34.6315 28.8261 34.9978 29.7005 34.9978ZM29.7005 48.9989H33.0016C33.876 48.9989 34.7155 48.6293 35.3333 47.9741C35.9542 47.3189 36.2995 46.4285 36.2995 45.4978C36.2995 44.5704 35.9542 43.68 35.3333 43.0248C34.7155 42.3662 33.876 42 33.0016 42H29.7005C28.8261 42 27.9866 42.3662 27.3656 43.0248C26.7479 43.68 26.3994 44.5704 26.3994 45.4978C26.3994 46.4285 26.7479 47.3189 27.3656 47.9741C27.9866 48.6293 28.8261 48.9989 29.7005 48.9989Z" fill="black"/>
                </svg>
                {% render 'partials/general-heading.liquid',
                    heading_level: 2,
                    content: "Laatste nieuwsberichten",
                %}
            </div>
            <p>Hier zie je altijd de 4 laatste updates over Bloemenveld Frankendael.<a href="/nieuws"> Bekijk hier</a> alle nieuwsberichten.</p>
            {% render 'partials/newsitems.liquid', 
                news: news, 
                current_path: current_path %}
        </article>
    </section>
</main>
{% render 'partials/foot.liquid', current_path: current_path %}